@model DIPLOMA.Models.DirectoryTypeRooms

@{
    ViewData["Title"] = Model.TypeRoom + " - Вид номера";
}

<h1 class="mb-5">Детально</h1>

<div>
    <h4>Вид номера <b>@Html.DisplayFor(model => model.TypeRoom)</b></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeRoom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeRoom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DirectoryTypeRoomsID" class="btn btn-secondary">Изменить</a>
    <a asp-action="Index" class="btn btn-outline-dark">Назад</a>
</div>
